.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s, opacity 0.2s ease;
  z-index: 1000;
}

.sidebar-overlay.open {
  opacity: 1;
  visibility: visible;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -280px;
  width: 220px;
  /* width: 60%; */
  height: 100%;
  background: #ffffff;
  box-shadow: 2px 0 8px rgba(0,0,0,0.1);
  padding: 16px;
  display: flex;
  flex-direction: column;
  transition: left 0.2s ease;
}

.sidebar-close {
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
  font-weight: bolder;
  padding: 10px;
  border-bottom: 1px solid #aeaeae;
  display: flex;
  justify-content: space-between;

  span{
    margin-top: -12px;
    font-size: 30px;
  }
}

.sidebar-overlay.open .sidebar {
  left: 0;
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 16px 8px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  transition: background 0.2s ease;
}

.sidebar-item:hover {
  background: #f5f5f5;
}

.sidebar-item span {
  margin-left: 16px;
}

.logout {
  margin-top: auto;
  color: #c0392b;
}
