.App {
  text-align: center;
  height: 100vh;
  width: 100%;
}

.btn-with-icon {
  display: inline-flex;
  align-items: center;  /* Vertically center icon and text */
  gap: 0.5rem;          /* Adds spacing between icon and text */
}

