:root {
  --primary: #39ff14; 
  --primary: #00ff7e;
  --primary-hover: #2db30c;
  --dark-bg: #0f172a;
  --nav-bg: #1e293b;
  --section-bg: #152536;
  --accent: #22c55e;
  --dark-text: #1f2937;
  --light-text: #f3f4f6;
  --text-muted: #a0aec0;
  --shadow-light: 0 8px 20px rgba(0, 0, 0, 0.15);
  --shadow-dark: inset 0 0 10px rgba(0, 0, 0, 0.25);
}
