
.add-hr-form {
  background-color: var(--nav-bg);
  color: var(--light-text);
  box-shadow: var(--shadow-light);
  padding: 2rem;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
}

.form-title {
  text-align: center;
  color: var(--primary);
  margin-bottom: 1.5rem;
}

.input-group {
  margin-bottom: 1.25rem;
  display: flex;
  flex-direction: column;
}

.input-group label {
  color: var(--text-muted);
  background: none;
  padding: 0;
}

.input-group input {
  padding: 0.75rem 1rem;
  border-radius: 6px;
  border: none;
  background-color: var(--section-bg);
  color: var(--light-text);
  outline: 1px solid var(--primary-hover);
}

.password-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.password-wrapper input {
  flex: 1;
}

.toggle-password {
  position: absolute;
  right: 1rem;
  cursor: pointer;
  font-size: 1.2rem;
}


.success-text {
  color: var(--primary);
  margin-top: 1rem;
  text-align: center;
}

.error-text {
  color: red;
  margin-top: 1rem;
  text-align: center;
}
