
.avatar-dropdown-menu {
  position: absolute;
  top: 40px;
  right: 20px;
  background: white;
  border: 1px solid #ddd;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 0.75rem;
  border-radius: 8px;
  z-index: 1000;
  width: 115px;
}

.avatar-dropdown-menu button {
  background: none;
  border: none;
  padding: 8px 0;
  width: 100%;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
  color: var(--light-text);
}

.avatar-dropdown-menu button:hover {
  background-color: #f1f1f1;
}

.avatar-dropdown-menu button {
  display: flex;
  align-items: center;
  gap: 8px;
  background: none;
  border: none;
  padding: 8px 0;
  width: 100%;
  text-align: left;
  font-size: 14px;
  color: #333;
  cursor: pointer;
}

.avatar-dropdown-menu button:hover {
  background-color: #f1f1f1;
}


/* .navbar {
  background-color: #1e293b;
  color: white;
  padding: 15px 0;
  position: relative;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
  color: white;
}

.highlight {
  color: #39ff14;
}

.nav-links {
  display: flex;
  gap: 15px;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

.menu-btn {
  display: none;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 15px;
    background-color: #1e293b;
    padding: 10px;
    border-radius: 8px;
  }
  .nav-links.show {
    display: flex;
  }
  .menu-btn {
    display: block;
  }
} */
